<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Filter">
    <fm-filter class="fm-filter" data-config="{filterConfig -> f:format.json()}" id="fm-filter" result-id="fm-result">
        <f:form absolute="1" action="filter" method="post" name="filter">
            <f:form.hidden data="{fromes: 'status'}" name="filterStatus" />
        </f:form>
        <fm-select-list class="fmc-subfilter fmc-panel fmc-p-0" id="fm-user-group">
            <f:render partial="Components/ListHeader" arguments="{titleKey: 'userGroup'}" />
            <f:render partial="Components/ListControl" />
            <f:render partial="Components/ListContent" />
        </fm-select-list>
        <f:if condition="{subfilterConfigById.fm-user-gender}">
            <fm-select-list class="fmc-subfilter fmc-panel fmc-p-0" id="fm-user-gender">
                <f:render partial="Components/ListHeader" arguments="{titleKey: 'gender'}" />
                <f:render partial="Components/ListControl" />
                <f:render partial="Components/ListContent" />
            </fm-select-list>
        </f:if>
    </fm-filter>
</f:section>

<f:section name="Result">
    <fm-select-list class="fmc-result fmc-panel fmc-p-0" id="fm-result">
        <f:render partial="Components/ListHeader" arguments="{titleKey: 'availableUsers'}" />
        <f:render partial="Components/ListControl" />
        <f:render partial="Components/ListContent" />
    </fm-select-list>
</f:section>

<f:section name="AddReceivers">
    <div class="fmc-add-receivers">
        <button class="btn btn-primary" onclick="document.getElementById('fm-receivers').addItems(document.getElementById('fm-result').selected)"><span>❯</span></button>
    </div>
</f:section>

<f:section name="Email">
    <fm-email class="fmc-panel fmc-email fmc-p-0" id="fm-email" receivers-id="fm-receivers">
        <f:render partial="Components/ListHeader" arguments="{titleKey: 'email'}" />
        <div class="alert alert-success d-none" data-fromes="mail-success" role="alert">
            {f:translate(key: 'mailSuccess')}
        </div>
        <div class="alert alert-danger d-none" data-fromes="mail-error" role="alert">
            {f:translate(key: 'mailError')}
        </div>
        <fm-collector class="fmc-receivers fmc-control" id="fm-receivers">
            <span class="fmc-close" data-fromes="clear">{f:render(partial: 'Icons/Bin')}</span>
            <ul class="list-inline form-control">
                <li class="list-inline-item" data-fromes="item-template"><span data-fromes="label">{f:translate(key: 'receivers')}</span></li>
            </ul>
        </fm-collector>
        <div class="fmc-content">
            <f:form absolute="1" action="mail" method="post">
                <div class="form-group">
                    <f:form.textfield class="form-control" data="{fromes: 'subject'}" name="mailFormData[subject]" placeholder="{f:translate(key: 'subject')}*" />
                </div>
                <div class="form-group">
                    <f:form.textarea class="form-control" data="{fromes: 'message'}" name="mailFormData[message]" placeholder="{f:translate(key: 'message')}*" />
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <f:form.upload class="form-control" data="{fromes: 'files'}" multiple="1" name="mailFormData[files]" />
                        <button class="input-group-text d-none" data-fromes="clear-files">✕</button>
                    </div>
                </div>
                <f:form.hidden data="{fromes: 'receivers'}" name="mailFormData[receivers]" />
            </f:form>
            <button class="btn btn-primary" data-fromes="submit">{f:translate(key: 'send')}</button>
        </div>
    </fm-email>
</f:section>
</html>
