.fm-messenger {
    .fmc-panel {
        position: relative;
        margin: 1rem 0;
        padding: var(--fm-panel-padding);
        background: var(--fm-panel-bg);
    }
    .fmc-title {
        margin: 0;
        padding: calc(var(--fm-panel-padding) / 2) var(--fm-panel-padding);
    }
    .fmc-control {
        position: relative;
        background: var(--fm-panel-bg-light);
        padding: calc(var(--fm-panel-padding) / 2) var(--fm-panel-padding);
    }
    .fmc-content {
        position: relative;
        padding: var(--fm-panel-padding);
        background: var(--fm-panel-bg-lighter);
    }
    .fmc-list {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        max-height: 250px;
        > * {
            width: var(--fm-listitem-width);
            padding-right: 1.5em;
        }
    }
    .form-group:last-child {
        margin-bottom: 0;
    }
    .fmc-p-0 {
        padding: 0;
    }
    .fmc-add-receivers {
        text-align: center;
        .btn {
            padding: 0.5rem 3rem;
        }
        span {
            display: inline-block;
            transform: rotate(90deg);
        }
    }
}

//
// Components
//
fm-filter, fm-select-list, fm-email, fm-collector {
    display: block;
}
fm-email {
    .alert {
        margin-bottom: 0;
        border-radius: 0;
    }
}
fm-collector {
    .fmc-close {
        display: block;
        position: absolute;
        right: var(--fm-panel-padding);
        top: var(--fm-panel-padding);
        padding: 0 0.3rem;
        cursor: pointer;
        svg {
            width: 16px;
        }
    }
    ul.form-control {
        min-height: 3em;
        margin: calc(var(--fm-panel-padding) / 2) 0;
        background-color: $input-disabled-bg;
        li.fmc-default {
            color: $input-placeholder-color;
        }
        span:after {
            content: ', ';
        }
        li:last-child span:after {
            content: '';
        }
    }
}
