$fm-panel-bg: #f0f0f0;
:root {
    --fm-panel-padding: 1rem;
    --fm-panel-bg: #{$fm-panel-bg};
    --fm-panel-bg-light: #{lighten($fm-panel-bg, 3%)};
    --fm-panel-bg-lighter: #{lighten($fm-panel-bg, 6%)};
}
